/* font-family: 'Oxygen', sans-serif
font-family: 'Source Sans Pro', sans-serif; */
/* * {
  border: 3px solid red;
} */
body {
  font-size: 62.5%;
  background-color: #fbfffb;
}

/*NAV BAR STYLES*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Oxygen", sans-serif;
  background-color: #fbfffb;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}

nav img {
  width: 7.5rem;
}

.links {
  align-content: center;
  font-size: 2.5rem;
}

.links a {
  text-decoration: none;
  color: #266035;
  margin: 2rem;
}

/*HEADER STYLES*/
header {
  background-image: url("/images/header.jpg");
  background-position: bottom center;
  background-size: cover;
  font-family: "Oxygen", sans-serif;
  font-size: 4rem;
  color: white;
  height: 90vh;
}

header section {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

header div {
  display: flex;
  justify-content: center;
}

header button {
  font-size: 1.8rem;
  color: #266035;
  padding: 1.8%;
}

header button:hover {
  color: white;
  background-color: #266035;
}

/* OUR STORY SECTION STYLES */

.ourStory {
  background-image: url("/images/about-img.jpg");
  background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-items: center;
  height: 90vh;
}

.ourStory h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 3.8rem;
  color: #266035;
  margin-top: 15%;
  padding-right: 15%;
}

.ourStory p {
  display: flex;
  width: 40%;
  text-align: justify;
  padding: 3%;
}

/* OUR PLANTS SECTION STYLES*/
.ourPlants {
  font-size: 3.8rem;
  font-family: "Oxygen", sans-serif;
  color: #266035;
  text-align: center;
  margin-left: 5%;
}
/* SUCCULENTS STYLES */
.succulents {
  display: flex;
  height: 60vh;
  /* flex-direction: row-reverse; */
}

.succulents div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.succulents img {
  width: 50%;
}

.succulents p {
  width: 50%;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
}

.succulents h3 {
  font-family: "Oxygen", sans-serif;
  font-size: 3rem;
  color: #266035;
}

.succulents button {
  font-family: "Oxygen", sans-serif;
  color: white;
  background-color: #266035;
  font-size: 1.7rem;
  padding: 1.3%;
}

/* CACTI STYLES */

.cacti {
  display: flex;
  flex-direction: row-reverse;
  height: 60vh;
}

.cacti div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.cacti img {
  width: 50%;
}

.cacti p {
  width: 50%;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
}

.cacti h3 {
  font-family: "Oxygen", sans-serif;
  font-size: 3rem;
  color: #266035;
}

.cacti button {
  font-family: "Oxygen", sans-serif;
  color: white;
  background-color: #266035;
  font-size: 1.7rem;
  padding: 1.3%;
}

/* TROPICALS STYLING */
.tropicals {
  display: flex;
  height: 60vh;
  margin-bottom: 0;
}

.tropicals div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.tropicals img {
  width: 50%;
}

.tropicals p {
  width: 50%;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
}

.tropicals h3 {
  font-family: "Oxygen", sans-serif;
  font-size: 3rem;
  color: #266035;
}

.tropicals button {
  font-family: "Oxygen", sans-serif;
  color: white;
  background-color: #266035;
  font-size: 1.7rem;
  padding: 1.3%;
}

/* CONTACT US STYLES */

footer {
  background-color: #266035;
  margin-top: 0;
}

footer h2 {
  font-size: 3.8rem;
  text-align: center;
  color: white;
  font-family: "Oxygen", sans-serif;
  padding-top: 2%;
}

footer h3 {
  color: white;
  font-family: "Oxygen", sans-serif;
}

.footerImg {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}

footer img {
  width: 78%;
}

.addressInfo {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.addressInfo a {
  text-decoration: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
}

.copyright {
  display: flex;
  flex-direction: row-reverse;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  margin-right: 1%;
}
